*{
	padding: 0px;
	margin: 0px;
	font-size: 8pt;
	font-family: Arial;
	vertical-align: baseline;
}
.clear{
	clear: both;
}
body{
	background-image: url("../img/subtle_carbon.jpg");
}
.wrapper{
	margin: 0 auto;
	margin-top: 80px;
	min-height: 532px;
	width: 960px;
	background:
		url('../img/small_profile_pictures/angie.jpg') 0px 10px no-repeat,
		url('../img/small_profile_pictures/ben2.jpg') 192px 10px no-repeat,
		url('../img/small_profile_pictures/casey2.jpg') 384px 10px no-repeat,
		url('../img/small_profile_pictures/cory2.jpg') 576px 10px no-repeat,
		url('../img/small_profile_pictures/dilys.jpg') 768px 10px no-repeat,
		url('../img/small_profile_pictures/eva.jpg') 0px 140px no-repeat,
		url('../img/small_profile_pictures/jt theodore.jpg') 192px 140px no-repeat,
		url('../img/small_profile_pictures/ian2.jpg') 384px 140px no-repeat,
		url('../img/small_profile_pictures/jose2.jpg') 576px 140px no-repeat,
		url('../img/small_profile_pictures/jt platt3.jpg') 768px 140px no-repeat,
		url('../img/small_profile_pictures/eylem2.jpg') 0px 280px no-repeat,
		url('../img/small_profile_pictures/markuz.jpg') 192px 280px no-repeat,
		url('../img/small_profile_pictures/miles3.jpg') 384px 280px no-repeat,
		url('../img/small_profile_pictures/peter3.jpg') 576px 280px no-repeat,
		url('../img/small_profile_pictures/randall4.jpg') 768px 280px no-repeat,
		url('../img/small_profile_pictures/rick2.jpg') 0px 420px no-repeat,
		url('../img/small_profile_pictures/samson2.jpg') 192px 420px no-repeat,
		url('../img/small_profile_pictures/scott2.jpg') 384px 420px no-repeat,
		url('../img/small_profile_pictures/victor.jpg') 576px 420px no-repeat,
		url('../img/small_profile_pictures/william2.jpg') 768px 420px no-repeat;
	background-size: 160px;
	overflow: auto;
}
h1{
    font-size: 20px;
    margin-top:0;
    margin-bottom: 30px;
}
#user_login{
	width: 380px;
	margin: 0 auto;
	margin-top:106px;
	padding: 60px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.8);
}
#login_form{
	color: black;
}
	#login_form a{
	    float: right;
	    font-size: 11pt;
	    margin-top: 6px;
	    margin-right: 20px;
	    color: black;
	    text-decoration: underline;
	}
	#login_form input{
	    float: right;
	}
	#login_form label{
	    float: left;
	    margin-top: 5px;
	    font-weight: bold;
	}
