*{
    padding: 0px;
    margin: 0px;	
    font-family: Arial;
    vertical-align: baseline;
    color:white;
}
.clear{
	clear: both;
}
h1{
	margin: 0px;
}
h2{
	margin: 0px;
}
ul{
	list-style-type: none;
}
	ul li{
		display: inline-block;
	}
		ul li a{
			color: black;
			font-size: 13px;
			font-weight: bold;
			margin-left: 20px;
		}
.main_profile{
    margin:0px 0px 55px;
}
img.main-photo{
    width:275px;   
    vertical-align: top;
}
.student_info{
    margin: 0px;
    display:inline-block;
    width: 660px;
    padding: 0px;
    min-height:190px;
    margin-left: 20px;
}
.short_thumb{
    width:75px;
    padding: 0 2px;
}
.search_criteria{
    margin-top:50px;
    text-align: right;
}
.search_criteria p{
    display: inline-block;
    padding-right: 10px;
}
#prev_thumb, #next_thumb{
    display: inline-block;
    vertical-align: bottom;
    margin-left:10px;
}
#prev_thumb p, #next_thumb p{
    text-align:center;
    background:rgba(227,227,227, 0.8);
    color:black;
    display:block;
    margin:30px 0px;
}
#prev_thumb{
 background-image:url('../img/small_profile_pictures/Jose2.JPG');
 width:79px;
 height:50px;
 background-size:cover;
 text-align:left;
}
#next_thumb{
 background-image:url('../img/small_profile_pictures/Jose2.JPG');
 width:79px;
 height:50px;
 background-size:cover;
}
ul.current-short-list{
    margin:0px;
    background: rgba(257,257,257, .4);
    padding: 5px;
    margin-left: 10px;
}
ul.current-short-list li{
    padding: 5px 6px;
}
ul.video-list{
    margin: 10px 0px;
}
ul.video-list li p{
    font-size:13px;
    text-align:center;
    background:rgba(227,227,227, 0.8);
    position:absolute;
    width:220px;
    height:20px;
    margin-top:-25px;
    margin-left:10px;
    font-weight:bold;
    color:black;
}
.profile-video{
    width:220px;
    padding-left: 13px;
}
.profile-resume{
    width:960px;
    height:1000px;
}
.cust-widget-header {
    background: none;
    border: 0;
    width: 85px;
    padding: 0;
    margin: 0;
}
.certified{
    display:inline-block;
    vertical-align:top;
    background: rgba(257,257,257, .4);
    color:white;
    text-decoration:underline;
}
.certified h3.title{
    padding-left:15px;
}
.competencies{
    height:150px;
}
.white-belt, .yellow-belt, .green-belt, .red-belt, .black-belt{
    width: 148px;
    height: 148px;
    display: inline-block;
}
.white-belt h3, .yellow-belt h3, .green-belt h3, .red-belt h3, .black-belt h3{
    text-align:center;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.white-belt{
	background:url('http://codingdojo.co/static/img/white_belt.png');
    background-size:cover;
}
.yellow-belt{
	background:url('http://codingdojo.co/static/img/yellow_belt.png');
    background-size:cover;
}
.green-belt{
	background:url('http://codingdojo.co/static/img/green_belt.png');
    background-size:cover;
}
.red-belt{
	background:url('http://codingdojo.co/static/img/red_belt.png');
    background-size:cover;
}
.black-belt{
	background:url('http://codingdojo.co/static/img/black_belt.png');
    background-size:contain;
}
.belt-scores{
    display:inline-block;
    margin: 0px 18px 20px 18px;
    color:white;
    height: 300px;
}
.no-score{
    opacity:.4;
}
ul.belt-exams{
    background:none;
    margin:0px;
}
.belt-exams tr td{
    font-size:14px;
    color: black;
}